@model NhomXingfa.Areas.Quantri.Models.DataModels.Cart

@{
    ViewBag.Title = "Xóa đơn hàng";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}

<h2>Xóa đơn hàng</h2>
<div class="alert alert-dismissable alert-danger">
    <strong>Mã đơn hàng: @Model.CarCode</strong> Bạn có chắc chắn xóa nó không?
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
