@model IEnumerable<NhomXingfa.Areas.Quantri.Models.DataModels.Cart>

@{
    ViewBag.Title = "Danh sách Đơn hàng";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}


<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Lịch sử Đơn hàng</li>

    </ol>

    <h1>Lịch sử Đơn hàng</h1>
    <div class="options">
        <div class="btn-toolbar">

            @*<a href="/Quantri/Products/Create/" class="btn btn-success btn-label"><i class="fa fa-plus"></i>Thêm mới</a>*@
        </div>
    </div>
    @{ Html.RenderPartial("_Alerts"); }
</div>
<div class="container" style="padding:5px">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-1">
                Hiện thị<br />
                <select name="sample_2_length" aria-controls="sample_2" class="form-control input-xsmall input-inline select2-offscreen" tabindex="-1" title="" id="ddlPageSize">
                    <option value="5">5 dòng</option>
                    <option value="10">10 dòng</option>
                    <option value="15" selected>15 dòng</option>
                    <option value="20">20 dòng</option>
                    <option value="-1">Tất cả</option>
                </select>
            </div>
            <div class="col-xs-2">
                Mã đơn<br />
                <input type="text" id="CarCode" name="CarCode" class="form-control txtSearch" placeholder="Nhập Mã đơn hàng...">
            </div>
            <div class="col-xs-2">
                Tên KH<br />
                <input type="text" id="CustName" name="CustName" class="form-control txtSearch" placeholder="Nhập tên KH...">
            </div>
            <div class="col-xs-2">
                Phone#<br />
                <input type="text" id="CustPhone" name="CustPhone" class="form-control txtSearch" placeholder="Nhập Số điện thoại...">
            </div>
            <div class="col-xs-2">
                Trạng thái<br />

                <select class="form-control drChange" id="OrderStatus" name="OrderStatus">
                    <option value="">--Tất cả--</option>
                    <option value="1">Mới</option>
                    <option value="2">Đã xác nhận đơn hàng</option>
                    <option value="3">Đang giao hàng</option>
                    <option value="4">Hoàn thành</option>
                    <option value="-1">Hủy</option>
                </select>
            </div>
            <div class="col-xs-3">
                Địa chỉ<br />
                <input type="text" id="AddresDelivery" name="AddresDelivery" class="form-control txtSearch" placeholder="Nhập địa chỉ...">
            </div>
            <div class="col-xs-2" style="display:none">
                Từ
                <br />
                <input type="date" id="datefrom" class="form-control txtSearch" placeholder="nhập ngày">
            </div>
            <div class="col-xs-2" style="display:none">
                đến
                <br />
                <input type="date" id="dateto" class="form-control txtSearch" placeholder="nhập ngày">

            </div>

            <div class="col-xs-1" style="display:none">
                tìm<br />
                <input id="btnSearch" type="submit" class="btn btn-sm btn-primary" value="Tìm" />
            </div>

        </div>
    </div>

    <div class="panel panel-primary">
        @{ Html.RenderPartial("_Alerts"); }
        <div class="panel-body" style="padding:0px;">

            <div class="row" id="season-list">

            </div>
        </div>
    </div>

</div>


@section scripts{
    
    <script type="text/javascript">

       

    $(document).ready(function () {
         $.ajaxSetup({
                cache: false
         });

        filter();

        $('body').on('change', '#ddlPageSize', function () {
            filter();
        });

        //textbox name
        $('.txtSearch').on('input', function () {
            filter();
        });

        //Drop change Dept
            $('.drChange').change(function () {
                filter();
            });

        $('#btnSearch').click(function () {
            
            var DateFrom = $('#datefrom').val();
            var DateTo = $('#dateto').val();
            if (DateTo < DateFrom) {
                alert("Chọn sai khung thời gian");
                return;
            }

            filter();
        });

    });

    function filter() {
        var CarCode = $("#CarCode").val();
        var CustName = $("#CustName").val();
        var CustPhone = $("#CustPhone").val();
        var OrderStatus = $("#OrderStatus").val();
        var AddresDelivery = $("#AddresDelivery").val();        
        var DateFrom = $("#datefrom").val();
        var DateTo = $("#dateto").val();
        $.ajax({
            //url: '/BDS_TinTuc/_PartialIndex',
            url: '@Url.Action("_PartialIndex", "Carts", new { Areas = "Quantri" })',
            data: {
                pageSize: parseInt($('#ddlPageSize').val()),
                CarCode: CarCode,
                CustName: CustName,
                CustPhone: CustPhone,
                OrderStatus: OrderStatus,
                AddresDelivery: AddresDelivery,
                DateFrom: DateFrom,
                DateTo: DateTo
            },
            method: 'GET',
            dataType: 'html',
            success: function (data) {
                $('#season-list').html(data);
                $("#lbl_Message").html("");
            }
        });


    }
    </script>
}


