
@{
    ViewBag.Title = "Gói 7 ngày Giảm cân an toàn - Thải độc triệt để";
}

<div class="row" id="detailsp">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
    </div>
    <div class="col-md-6">
        <h5>Gói Thải độc - Giảm cân</h5>
        <h2 class="fontstyle">Gói 7 ngày Giảm cân an toàn - Thải độc triệt để</h2>
        <div class="spdscription">
            Giá gói: 2,380,000VND <br />
            Phí ship: 105,000VND/7 ngày <br />
            Hiện đang ưu đãi miễn phí 100% phí ship cho gói này và free upgrade 7 chai Cần Tây Nổi Tiếng <br />
            Tổng chi phí chỉ còn: 2,380,000 VND <br />
            Số chai: 28 chai (Sinh tố: size 500ml, Nước ép: size 350ml) <br />
            Hạn sử dụng gói: 4 tháng kể từ ngày mua gói. <br />
            *Lưu ý: lắc đều trước khi sử dụng. <br />
        </div>

        <div class="thetichgia">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    <span class="t1">350ml</span> <span>:</span> <span class="t2">86,000<sup>đ</sup></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    <span class="t1">550ml</span> <span>:</span> <span class="t2">1.186,000<sup>đ</sup></span>
                </label>
            </div>
        </div>

        <div class="form-inline" id="dtsldh">
            <a class="btn btn-default" id="btnTruSL">
                <i class="glyphicon glyphicon-minus"></i>
            </a>
            <input class="form-control" type="text" value="1" placeholder="0" id="txtSoLuongDH" readonly />
            <a class="btn btn-default" id="btnCongSL">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>



        <div id="buttondathangdt">
            <a href="javascript:" class="btn btn-lg btn-info">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                thêm vào giỏ hàng
            </a>
        </div>
    </div>
</div>

<div class="row" id="sanphamcontent">
    <div class="col-md-9">
        <div class="contentsp">
            1
        </div>
    </div>
    <div class="col-md-3">
        <div class="listtintuc">
            <div class="titletintuc">
                Tin Tức
            </div>

            <div class="listtt">
                <a href="#">
                    <div class="img">
                        <img src="~/images/web-banner-56-chai-1.png" />
                    </div>
                    <div class="titlebanner">
                        Chào đón gói “Giảm cân Nhanh – An toàn” phiên bản 2  cùng vô vàng ưu đãi
                    </div>
                    <div class="dscbanner">
                        Sau 1 thời gian nghiên cứu và phát triển, Green O xin được chính thức…
                    </div>
                    <div class="datebanner">
                        12/05/2020
                    </div>
                </a>
            </div>


            <div class="listtt">
                <a href="#">
                    <div class="img">
                        <img src="~/images/web-banner-56-chai-1.png" />
                    </div>
                    <div class="titlebanner">
                        Chào đón gói “Giảm cân Nhanh – An toàn” phiên bản 2  cùng vô vàng ưu đãi
                    </div>
                    <div class="dscbanner">
                        Sau 1 thời gian nghiên cứu và phát triển, Green O xin được chính thức…
                    </div>
                    <div class="datebanner">
                        12/05/2020
                    </div>
                </a>
            </div>

            <div class="listtt">
                <a href="#">
                    <div class="img">
                        <img src="~/images/web-banner-56-chai-1.png" />
                    </div>
                    <div class="titlebanner">
                        Chào đón gói “Giảm cân Nhanh – An toàn” phiên bản 2  cùng vô vàng ưu đãi
                    </div>
                    <div class="dscbanner">
                        Sau 1 thời gian nghiên cứu và phát triển, Green O xin được chính thức…
                    </div>
                    <div class="datebanner">
                        12/05/2020
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>


@Html.Partial("_goidinhky")