
@{
    ViewBag.Title = "Thực Đơn Lẻ";
}
<style type="text/css">
    #titlespcon {
        display: none;
    }
</style>

<div class="text-center fontstyle" id="titlespcon2">
    <h2>
        Thải độc - Giảm cân hiệu quả
    </h2>
</div>

@Html.Partial("~/Views/Home/_sanphamdon.cshtml")

<div class="text-center fontstyle" id="titlespcon3">
    <h2>
        Thải độc - Giảm cân - Dễ uống
    </h2>
</div>

@Html.Partial("~/Views/Home/_sanphamdon.cshtml")

