@model NhomXingfa.Areas.Quantri.Models.DataModels.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Danh sách Sản phẩm</li>

    </ol>

    <h1>Xóa Sản phẩm</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="/Quantri/Products/Index" class="btn btn-primary">Quay Lại</a>
        </div>
    </div>
</div>

<div class="container" style="padding:5px">
    <div class="alert alert-dismissable alert-danger">
        Sản phẩm: <strong>@Model.ProductName (@Model.ProductCode)</strong> Bạn có chắc chắn xóa sản phẩm này không?
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
        </div>
    }
</div>
