@model NhomXingfa.Areas.Quantri.Models.DataModels.Product

@{
    ViewBag.Title = "Delete";
}
<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Danh sách Bộ Sưu Tập</li>

    </ol>

    <h1>Xóa Bộ Sưu Tập</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="/Collections/Index" class="btn btn-primary">Quay Lại</a>
        </div>
    </div>
</div>

<div class="container" style="padding:5px">
    <div class="alert alert-dismissable alert-danger">
        Bộ Sưu tập: <strong>@Model.ProductName (@Model.ProductCode)</strong> Bạn có chắc chắn xóa không?
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
        </div>
    }
</div>
