 <!-- BEGIN SIDEBAR -->
<nav id="page-leftbar" role="navigation">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="acc-menu" id="sidebar">
        <li id="search">
            <a href="javascript:;"><i class="fa fa-search opacity-control"></i></a>
            <form>
                <input type="text" class="search-query" placeholder="Search...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </li>
        <li class="divider"></li>
        <li><a href="/Quantri/HomePage/Index"><i class="fa fa-home"></i> <span>Trang Chủ</span></a></li>
        <li>
            <a href="javascript:;"><i class="fa fa-th"></i> <span>Chủng loại Sản phẩm</span> </a>
            <ul class="acc-menu">
                <li><a href="/Quantri/Categories/Create"><span>Thêm mới</span></a></li>
                <li><a href="/Quantri/Categories/Index"><span>Danh sách Chủng loại SP</span></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-list-ol"></i> <span>Sản phẩm</span> </a>
            <ul class='acc-menu'>
                <li><a href="/Quantri/Products/Create">Tạo Mới</a></li>
                <li><a href="/Quantri/Products/Index">Danh sách sản phẩm</a></li>
                <li><a href="/Quantri/Products/NoiBat">Nhóm SP Nổi bật</a></li>
                <li><a href="/Quantri/Products/MoiNhat">Nhóm SP mới</a></li>
                <li><a href="/Quantri/Products/GoiSPLst">Danh sách SP (Theo gói)</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-list-ol"></i> <span>Blogs</span> </a>
            <ul class='acc-menu'>
                <li><a href="/Quantri/Blogs/Create">Thêm Mới</a></li>
                <li><a href="/Quantri/Blogs/Index">DS Blog</a></li>
                <li><a href="/Quantri/BlogCategories/Index">Danh mục</a></li>

            </ul>
        </li>
        <li><a href="/Quantri/Carts/Index"><i class="fa fa-shopping-cart"></i> <span>Đơn hàng</span></a></li>
        
        <li>
            <a href="javascript:;"><i class="fa fa-tasks"></i> <span>Các Danh Mục</span></a>
            <ul class="acc-menu">

                <li><a href="/Quantri/AboutUs/Index">Các Bài viết</a></li>
                <li><a href="/Quantri/Q_A/Index">Câu hỏi thường gặp</a></li>
                <li><a href="/Quantri/Customers/Index">Đối tác khách hàng</a></li>

            </ul>
        </li>
        <li>
            <a href="/Quantri/CustomerFeedbacks/Index"><i class="fa fa-music"></i> <span>Cảm nhận Khách Hàng</span> </a>

        </li>
        <li>
            <a href="/Quantri/CustomerContacts/Index"><i class="fa fa-phone"></i> <span>KH liên hệ Tư Vấn</span> </a>

        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-picture-o"></i> <span>Thư viện Ảnh</span></a>
            <ul class="acc-menu">
                <li><a href="~/Quantri/PhotoLibraryLst/Index">Uploads</a></li>
                <li><a href="~//Quantri/PhotoLibraryLst/ListOfPhoto">Thư viện Ảnh</a></li>
                <li><a href="~/Quantri/PhotoLibraryCategories/Index">Danh mục Ảnh</a></li>
                <li style="border-top:1px solid #808080"><a href="~/Quantri/Slides/ForHomepage">Slide Trang chủ</a></li>
            </ul>
        </li>
        <li>
            <a href="/Quantri/CustomerOrders/Index"><i class="fa fa-phone"></i> <span>Danh sách Khách hàng</span> </a>

        </li>
        <li>
            <a href="/quantri/users/Index"><i class="fa fa-user"></i> <span>Tài Khoản</span> </a>

        </li>





    </ul>
    <!-- END SIDEBAR MENU -->
</nav>









