
<span class="floatbutton">
    <a href="https://zalo.me/0898772270" target="_blank">
        <img alt="messages" src="~/images/icon-zalo.png" style="width:50px;" />
    </a>
    @*<a href="javascript:">
        <img alt="messages" src="~/images/icon-zalo.png" style="width:48px;" />
    </a>*@
</span>

<div class="float-right-pane">
    <div class="wrapper">
        <div class="ring">
            <a href="tel:+840898772270">
                <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
                    <div class="coccoc-alo-ph-circle"></div>
                    <div class="coccoc-alo-ph-circle-fill"></div>
                    <div class="coccoc-alo-ph-img-circle"></div>
                </div>
            </a>
        </div>
    </div>
</div>
