
<span class="floatbutton">
    <a href="https://zalo.me/0898772270" target="_blank">
        <img alt="messages" src="~/images/icon-zalo.png" style="width:50px;" />
    </a>
    @*<a href="javascript:">
        <img alt="messages" src="~/images/icon-zalo.png" style="width:48px;" />
    </a>*@
</span>
