
<span class="floatbutton">
    <a href="javascript:">
        <img alt="messages" src="~/images/Message-icon.png" style="width:48px;" />
    </a>
    <a href="javascript:">
        <img alt="messages" src="~/images/icon-zalo.png" style="width:48px;" />
    </a>
</span>
