@model NhomXingfa.Models.FooterViewModel
<div class="row">
    <div class="col-md-12">


        <div class="col-md-6">
            <div class="flogo">
                <img src="~/images/p.png" style="width:150px; height:auto" />
            </div>
            <div class="flogan">
                @Html.Raw(Model.footerInfo.Content)
            </div>

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4">

            @*<div class="listlink">
                    <p>
                        <a href="#">
                            Chính sách bán hàng
                        </a>
                    </p>
                    <p>
                        <a href="/blog">
                            Blogs
                        </a>
                    </p>
                </div>*@

            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHoiNhungNguoiSoMa%2F&tabs=timeline&width=350&height=413&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=646673222083002" width="350" height="413" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>
</div>