@model List<NhomXingfa.Areas.Quantri.Models.DataModels.Q_A>

<div class="text-center fontstyle" id="cauhoithuonggap">
    Câu hỏi thường gặp
</div>

<div class="row" id="listcauhoi">
    @*<div class="col-md-1">
            &nbsp;
        </div>*@
    <div class="col-md-12">

        <ul>
            @foreach (var i in Model)
            {
                <li>
                    <div class="titlecauhoi">
                        <i class="glyphicon glyphicon-triangle-right"></i>
                        @i.Question
                    </div>
                    <div class="noidungtraloi">
                       @Html.Raw(@i.Answer)
                    </div>
                </li>
            }


            @*<li>
                    <div class="titlecauhoi">
                        <i class="glyphicon glyphicon-triangle-right"></i>
                        2. Uống Green O như thế nào để đạt được hiệu quả giảm cân?
                    </div>
                    <div class="noidungtraloi">
                        GREEN O sử dụng nguồn nguyên liệu được nhập hàng ngày để đảm bảo độ tươi ngon, chất lượng rau củ quả đạt tiêu chuẩn VIETGAP. Kỹ thuật ép chậm truyền thống không chất bảo quản nhằm đảm bảo nguyên độ tươi ngon và dinh dưỡng có trong các loại rau củ quả. Không thêm nước, đường hoặc bất kỳ loại gia vị nhân tạo nào.
                        <br />
                        <br />
                        Công thức chế biến độc quyền được nghiên cứu kỹ lưỡng từ các chuyên gia trong nghành dinh dưỡng đến từ Úc nhằm đưa ra menu thức uống không chỉ cung cấp đủ các vitamins và khoáng chất từ rau củ quả thiết yếu cho cơ thể mỗi ngày mà còn hỗ trợ hiệu quả cho việc giảm cân, thải độc và  ngăn ngữa các căn bệnh như ung thư, tiểu đương, các bệnh về tim mạch, cao huyết áp...
                    </div>
                </li>

                <li>
                    <div class="titlecauhoi">
                        <i class="glyphicon glyphicon-triangle-right"></i>
                        3. GREEN O sẽ giao đơn hàng định kỳ cho tôi như thế nào?
                    </div>
                    <div class="noidungtraloi">
                        GREEN O sử dụng nguồn nguyên liệu được nhập hàng ngày để đảm bảo độ tươi ngon, chất lượng rau củ quả đạt tiêu chuẩn VIETGAP. Kỹ thuật ép chậm truyền thống không chất bảo quản nhằm đảm bảo nguyên độ tươi ngon và dinh dưỡng có trong các loại rau củ quả. Không thêm nước, đường hoặc bất kỳ loại gia vị nhân tạo nào.
                        <br />
                        <br />
                        Công thức chế biến độc quyền được nghiên cứu kỹ lưỡng từ các chuyên gia trong nghành dinh dưỡng đến từ Úc nhằm đưa ra menu thức uống không chỉ cung cấp đủ các vitamins và khoáng chất từ rau củ quả thiết yếu cho cơ thể mỗi ngày mà còn hỗ trợ hiệu quả cho việc giảm cân, thải độc và  ngăn ngữa các căn bệnh như ung thư, tiểu đương, các bệnh về tim mạch, cao huyết áp...
                    </div>
                </li>*@
        </ul>

    </div>
    @*<div class="col-md-1">
            &nbsp;
        </div>*@
</div>
