
<div class="modal fade" id="modalTuVan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title fontstyle" id="modaltitletuvan"><i class="glyphicon glyphicon-earphone"></i> Hotline: 0898 77 22 70</h4>
            </div>
            <div class="modal-body" id="TuvanForm">
                <span style="color:red; font-size:10pt; font-style:italic" id="ErrorText">Vui lòng nhập thông tin</span>
                <p>
                    1. Bạn mong muốn cải thiện sức khỏe của mình thế nào?
                </p>
                <div class="radio"> 
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>
                        Thải độc - Giảm Cân
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
                        Đẹp da + Duy trì thói quen ăn uống lành mạnh
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="3">
                        Tư vấn về thức uống tốt cho người đau dạ dày hoặc tiểu đường.
                    </label>
                </div>
                <div class="radio"> 
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="4">
                        Vấn đề khác
                    </label>
                </div>
                <p>
                    2. Vui lòng ghi rõ nội dung để các Chuyên Gia Dinh Dưỡng tư vấn miễn phí cho bạn nhé!
                </p>
                <div class="inputtuvan">
                    <input type="text" class="form-control" style="max-width:unset" placeholder="Họ và Tên" id="txtName" />
                </div>
                <div class="inputtuvan">
                    <input type="text" class="form-control" style="max-width:unset" placeholder="Điện thoại" id="txtPhone" />
                </div>
                <div class="inputtuvan">
                    <textarea class="form-control" placeholder="Ghi comment" rows="3" style="max-width:unset" id="txtComment"></textarea>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" id="btnOK" class="btn btn-primary" onclick="CheckData();">Gửi</button>
            </div>
        </div>
    </div>
</div>
 