
<div class="baiviettitle">
    <span>Bài Viết Mới</span>
</div>
<ul>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-pushpin"></i>
            Ưu đãi khủng: Nhận ngay Mì Kiều Mạch cao cấp Old Henry hoàn toàn miễn phí!
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-pushpin"></i>
            [Hà Nội] Khai trương rộn ràng – Nhận ngàn quà tặng
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-pushpin"></i>
            Giảm cân bằng nước ép cần tây – Đánh bay 2 đến 5kg dễ dàng
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-pushpin"></i>
            Giảm cân bằng nước ép cần tây – Đánh bay 2 đến 5kg dễ dàng
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-pushpin"></i>
            Giảm cân bằng nước ép cần tây – Đánh bay 2 đến 5kg dễ dàng
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-pushpin"></i>
            Giảm cân bằng nước ép cần tây – Đánh bay 2 đến 5kg dễ dàng
        </a>
    </li>
</ul>
