@model NhomXingfa.Models.NewsViewModel
@{
    ViewBag.Title = "Chuyên Mục";
}

<div class="container" id="bloglist">
    <div class="col-md-8">
        <h3>
            Tin Tức
        </h3>
        @Html.Partial("_index", Model.blogs)
    </div>
    <div class="col-md-4" id="tinlienquan">
        @Html.Partial("_lienquan", Model.recent)
    </div>
    <div class="col-md-4" id="tinlienquan">
        @Html.Partial("_ChuyenMuc", Model.categories)
    </div>
</div>

