
@{
    ViewBag.Title = "Blogs";
}

<div class="container" id="bloglist">
    <div class="col-md-8">
        <h3>
            Latest News
        </h3>
        <div class="lstblog">
            <ul>
                <li>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#">
                                <img src="~/images/900-x-603-2.jpg" />
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="cate">
                                <a href="#">
                                    Uncategorized
                                </a>
                            </div>
                            <div class="title">
                                <a href="#">
                                    Ưu đãi khủng: Nhận ngay Mì Kiều Mạch cao cấp Old Henry hoàn toàn miễn phí!
                                </a>
                            </div>
                            <div class="timer">
                                <span class="bywho">
                                    by <b><a href="#">green</a></b>
                                </span>
                                <span class="catngang">
                                    |
                                </span>
                                <span class="thoigian">
                                    Tháng Tám 3, 2020
                                </span>
                            </div>
                            <div class="descript">
                                Sức khỏe luôn là điều quý giá nhất mà mỗi chúng ta cần trân trọng…
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#">
                                <img src="~/images/900-x-603-2.jpg" />
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="cate">
                                <a href="#">
                                    Uncategorized
                                </a>
                            </div>
                            <div class="title">
                                <a href="#">
                                    Ưu đãi khủng: Nhận ngay Mì Kiều Mạch cao cấp Old Henry hoàn toàn miễn phí!
                                </a>
                            </div>
                            <div class="timer">
                                <span class="bywho">
                                    by <b><a href="#">green</a></b>
                                </span>
                                <span class="catngang">
                                    |
                                </span>
                                <span class="thoigian">
                                    Tháng Tám 3, 2020
                                </span>
                            </div>
                            <div class="descript">
                                Sức khỏe luôn là điều quý giá nhất mà mỗi chúng ta cần trân trọng…
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#">
                                <img src="~/images/900-x-603-2.jpg" />
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="cate">
                                <a href="#">
                                    Uncategorized
                                </a>
                            </div>
                            <div class="title">
                                <a href="#">
                                    Ưu đãi khủng: Nhận ngay Mì Kiều Mạch cao cấp Old Henry hoàn toàn miễn phí!
                                </a>
                            </div>
                            <div class="timer">
                                <span class="bywho">
                                    by <b><a href="#">green</a></b>
                                </span>
                                <span class="catngang">
                                    |
                                </span>
                                <span class="thoigian">
                                    Tháng Tám 3, 2020
                                </span>
                            </div>
                            <div class="descript">
                                Sức khỏe luôn là điều quý giá nhất mà mỗi chúng ta cần trân trọng…
                            </div>
                        </div>
                    </div>
                </li>



            </ul>
        </div>
    </div>
    <div class="col-md-4" id="tinlienquan">
        @Html.Partial("_lienquan")
    </div>
</div>

