@model NhomXingfa.Models.NewsViewModel
@{
    ViewBag.Title = "Blogs";
}

<div class="container" id="bloglist">
    <div class="col-md-8">
        <h3>
            Latest News
        </h3>
        @Html.Partial("_index", Model)
    </div>
    <div class="col-md-4" id="tinlienquan">
        @Html.Partial("_lienquan")
    </div>
</div>

