@model NoiThatAdmin.Models.UpdateRoleViewModel

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Đang Có
                        </th>
                        <th>
                            #
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var q in Model.Allow)
                    {
                        <tr>
                            <td>
                                @q.PermissonName
                            </td>
                            <td>
                                <a href="javascript:" permissionid="@q.PermissionID" class="btn btn-xs btn-danger DeletePermission">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Chưa Có
                    </th>
                    <th>
                        #
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var q in Model.Available)
                {
                    <tr>
                        <td>
                            @q.PermissonName
                        </td>
                        <td>
                            <a href="javascript:" permissionid="@q.PermissionID" class="btn btn-xs btn-success AddPermission">Thêm</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
