
@{
    ViewBag.Title = "Phân Quyền";
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="\">Trang chủ</a></li>
        <li class="active">Danh sách tài khoản</li>

    </ol>

    <h1>Danh sách tài khoản</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="javascript:" class="btn btn-success btn-label" data-toggle="modal" data-target="#AddUser" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus"></i>Thêm mới</a>
        </div>
    </div>
</div>

