@model NhomXingfa.Areas.Quantri.Models.DataModels.Slide
@using NhomXingfa.Areas.Quantri.Utilities
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-dismissable alert-danger">
    <strong>Delete</strong> Bạn có chắc chắn xóa dữ liệu này không?
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>
<div>
    @using (Html.BeginForm())
    {@Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Quay lại", "ForHomepage")
    </div>
}
    <img src="@WebConstants.ImgSlideshow/@Model.ImageURL" style="width:1024px" />

</div>
