@model NhomXingfa.Areas.Quantri.Models.DataModels.Blog
@{
    ViewBag.Title = Model.SEOTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="our-story-cover-1">
        <div class="highlight-block-1">
            <div class="col-md-4 col-md-offset-2 col-sm-12 col-xs-12">
                <div class="text-block row">
                    <h3>Câu chuyện thương hiệu</h3>
                    <h1 class="bolder">SmoothiePlus</h1>
                    <h1 class="light">Lan tỏa điều tốt đẹp</h1>
                    <br>
                    <div class="story-telling">
                        <p>Chào bạn! Đây không phải là một câu chuyện thương hiệu với một sứ mệnh và tầm nhìn lớn lao khi khởi đầu.</p>
                    </div>
                    <div class="story-telling">
                        <p>
                            True Juice bắt đầu đơn giản là câu chuyện của riêng mình, của Huyền - Một phụ nữ 30, lần đầu làm mẹ, mất cân bằng và loay hoay với những thay đổi hormone, sức khỏe xuống cấp và những xáo trộn trong cuộc sống, công việc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="text-center fontstyle" id="cauhoithuonggap">
    @Model.BlogName
</div>
<div class="row">
    <div class="col-md-1">
    </div> 
    <div class="col-md-10">
        @Html.Raw(Model.Content)
    </div>
    <div class="col-md-1">
    </div>
</div>
