
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delivery</h2>

<img src="https://tch-app.s3.ap-southeast-1.amazonaws.com/storage_image/976_background_new_text.png" style="width:100%" />