
<div class="modal fade" id="modalTuVan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title fontstyle" id="modaltitletuvan"><i class="glyphicon glyphicon-earphone"></i> Hotline: 1900 63 67 91</h4>
            </div>
            <div class="modal-body">

                <p>
                    1. Hãy cho Green O biết nhu cầu của bạn là gì?
                </p>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option two can be something else and selecting it will deselect option one
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                        Option three is disabled
                    </label>
                </div>
                <p>
                    2. Quý khách để lại thông tin để chuyên viên tư vấn miễn phí nhé!
                </p>
                <div class="inputtuvan">
                    <input type="text" class="form-control" style="max-width:unset" placeholder="Họ và Tên" />
                </div>
                <div class="inputtuvan">
                    <input type="text" class="form-control" style="max-width:unset" placeholder="Điện thoại" />
                </div>
                <div class="inputtuvan">
                    <textarea class="form-control" placeholder="Ghi comment" cols="4" style="max-width:unset"></textarea>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary">Gởi</button>
            </div>
        </div>
    </div>
</div>
