@model List<NhomXingfa.Areas.Quantri.Models.DataModels.Product>

<div id="tuvandinhky">
    <div class="text-center">
        <input type="button" class="btn btn-lg btn-info" value="Tư Vấn Gói Định Kỳ" id="btnTuVanDinhKy" />
    </div>
</div>

<div id="listgoidinhky">
    <div class="row">

        @foreach (var q in Model)
        {
            <div class="col-md-3">
                <a href="javascript:">
                    <div class="toppin">
                        <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
                        <span class="slchai">
                            <span class="numberchai">36</span><br /> Chai
                        </span>
                    </div>
                    <h4 class="goiname1">
                        Gói 7 ngày Giảm cân an toàn - Thải độc triệt để
                    </h4>
                    <h4 class="goiname2">
                        14 Ngày - 4 Chai  / 1 Ngày
                    </h4>
                    <div class="buttondathanggoi">
                        <input type="button" class="btn btn-lg btn-primary btnAddCartGoi" value="thêm vào giỏ hàng" />
                    </div>
                    <div class="actionhover">
                        <div class="giagoi">
                            Giá: 4,460,000<sup>đ</sup>
                        </div>
                        <div class="giaship">
                            Ship: <span>0<sup>đ</sup></span><span class="shipdagiam">4,460,000</span><sup>đ</sup>
                        </div>
                        <div class="xemthem">
                            <span>Xem Thêm ></span>
                        </div>
                    </div>
                </a>
            </div>
        }



        @*<div class="col-md-3">
            <a href="javascript:">
                <div class="toppin">
                    <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
                    <span class="slchai">
                        <span class="numberchai">36</span><br /> Chai
                    </span>
                </div>
                <h4 class="goiname1">
                    Gói 7 ngày Giảm cân an toàn - Thải độc triệt để
                </h4>
                <h4 class="goiname2">
                    14 Ngày - 4 Chai  / 1 Ngày
                </h4>
                <div class="buttondathanggoi">
                    <input type="button" class="btn btn-lg btn-primary btnAddCartGoi" value="thêm vào giỏ hàng" />
                </div>
                <div class="actionhover">
                    <div class="giagoi">
                        Giá: 4,460,000<sup>đ</sup>
                    </div>
                    <div class="giaship">
                        Ship: <span>0<sup>đ</sup></span><span class="shipdagiam">4,460,000</span><sup>đ</sup>
                    </div>
                    <div class="xemthem">
                        <span>Xem Thêm ></span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="javascript:">
                <div class="toppin">
                    <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
                    <span class="slchai">
                        <span class="numberchai">36</span><br /> Chai
                    </span>
                </div>
                <h4 class="goiname1">
                    Gói 7 ngày Giảm cân an toàn - Thải độc triệt để
                </h4>
                <h4 class="goiname2">
                    14 Ngày - 4 Chai  / 1 Ngày
                </h4>
                <div class="buttondathanggoi">
                    <input type="button" class="btn btn-lg btn-primary btnAddCartGoi" value="thêm vào giỏ hàng" />
                </div>
                <div class="actionhover">
                    <div class="giagoi">
                        Giá: 4,460,000<sup>đ</sup>
                    </div>
                    <div class="giaship">
                        Ship: <span>0<sup>đ</sup></span><span class="shipdagiam">4,460,000</span><sup>đ</sup>
                    </div>
                    <div class="xemthem">
                        <span>Xem Thêm ></span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="javascript:">
                <div class="toppin">
                    <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
                    <span class="slchai">
                        <span class="numberchai">36</span><br /> Chai
                    </span>
                </div>
                <h4 class="goiname1">
                    Gói 7 ngày Giảm cân an toàn - Thải độc triệt để
                </h4>
                <h4 class="goiname2">
                    14 Ngày - 4 Chai  / 1 Ngày
                </h4>
                <div class="buttondathanggoi">
                    <input type="button" class="btn btn-lg btn-primary btnAddCartGoi" value="thêm vào giỏ hàng" />
                </div>
                <div class="actionhover">
                    <div class="giagoi">
                        Giá: 4,460,000<sup>đ</sup>
                    </div>
                    <div class="giaship">
                        Ship: <span>0<sup>đ</sup></span><span class="shipdagiam">4,460,000</span><sup>đ</sup>
                    </div>
                    <div class="xemthem">
                        <span>Xem Thêm ></span>
                    </div>
                </div>
            </a>
        </div>*@

    </div>
</div>
