@model List<NhomXingfa.Areas.Quantri.Models.DataModels.Blog>
@using NhomXingfa.Areas.Quantri.Utilities
<div class="text-center fontstyle" id="luachonhangdau">

    <h3>
        Sự lựa chọn hàng đầu
    </h3>
    <h4>
        Giải pháp cải thiện sức khỏe và thay đổi thói quen từ gốc rễ dinh dưỡng
    </h4>
</div>

@foreach (var i in Model)
{
    <div class="row listluachon">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-3">
            @*<img src="~/images/usp-1.jpg" />*@
            <img src="@WebConstants.imgNewsURLShow/@i.ImageURL" title="@i.BlogName" />
        </div>
        <div class="col-md-6">
            <h2>
                @i.BlogName
            </h2>
            <div class="luachoncontent">
                @Html.Raw(i.Content)
            </div>
            @*<div class="logoluachon">
                <span class="luachonlg luachon1"></span>
                <span class="luachonlg luachon2"></span>
            </div>*@
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
}
@*<div class="row listluachon">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-3">
            <img src="~/images/usp-3.jpg" />
        </div>
        <div class="col-md-6">
            <h2>
                Công nghệ và dịch vụ hàng đầu
            </h2>
            <div class="luachoncontent">
                <p>
                    Nước ép True Juice sử dụng công nghệ ép lạnh thủy lực tiên tiến nhất được sử dụng bởi các thương hiệu nổi tiếng thế giới Suja(PepsiCo), BluePrint hay Juice Press.
                </p>
                <p>
                    Công nghệ tiên phong tại Việt Nam giúp tối đa hàm lượng dinh dưỡng, mùi, vị, độ tươi sản phẩm gấp 5 lần máy ép gia đình và các thương hiệu phổ thông tại Việt Nam.
                </p>
                <p>
                    Quy trình sản xuất đảm bảo HACCP an toàn và chất lượng. <br />
                    Giao hàng thân thiện và chuyên nghiệp. Đảm bảo giờ giấc liệu trình cải thiện sức khỏe.
                </p>
            </div>
            <div class="logoluachon">
                <span class="luachonlg luachon1"></span>
                <span class="luachonlg luachon2"></span>
            </div>
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>*@

@*<div class="row listluachon">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-3">
            <img src="~/images/usp-2.jpg" />
        </div>
        <div class="col-md-6">
            <h2>
                Nước ép dành cho sức khỏe
            </h2>
            <div class="luachoncontent">
                <p>
                    100% nguyên liệu rau xanh canh tác hữu cơ rõ ràng nguồn gốc. <br />
                    Luôn tươi ép theo mỗi liệu trình cải thiện sức khỏe từng khách hàng. <br />
                    Nguyên chất. Không pha loãng, không sử dụng đường tinh luyện, chất bảo quản và phụ gia. <br />
                    Chai thủy tinh, bao bì đạt tiêu chuẩn, bao bì thân thiện môi trường. Không sử dụng túi nylon, chai nhựa. <br />
                </p>

            </div>
            <div class="logoluachon">
                <span class="luachonlg luachon1"></span>
                <span class="luachonlg luachon2"></span>
            </div>
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>*@
