
<div class="row minicart">
    <div class="col-md-8">
    </div>
    <div class="col-md-4" id="giohangmini">
        <div class="carttitle">
            <i class="glyphicon glyphicon-shopping-cart" id="caticon"></i>
            Giỏ hàng của bạn
            <span class="closed">
                <i class="glyphicon glyphicon-remove"></i>
            </span>
        </div>

        <div class="listdathang">
            <ul>
                <li>
                    <div class="row">
                        <div class="col-md-9 col-xs-9">
                            <h5 class="titlesp">
                                1. Gói 7 ngày Giảm cân an toàn - Thải độc triệt để
                            </h5>
                            <p>
                                Giá gói: 2,380,000VND
                                Phí ship: 105,000VND/7 ngày
                                Hiện đang ưu đãi miễn phí 100% phí ship cho gói này và free upgrade 7 chai Cần Tây Nổi Tiếng
                                Tổng chi phí chỉ còn: 2,380,000 VND
                            </p>
                            <div class="actioncart">
                                <span class="removesp">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </span>
                                <div class="form-inline text-right">
                                    <a class="btn btn-default" id="btnTruSL">
                                        <i class="glyphicon glyphicon-minus"></i>
                                    </a>
                                    <input class="form-control" type="text" value="1" placeholder="0" id="txtSoLuongDH" readonly />
                                    <a class="btn btn-default" id="btnCongSL">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
                            <div class="cartprice">
                                3,409,000<sup>đ</sup>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-md-9 col-xs-9">
                            <h5 class="titlesp">
                                2. Gói 7 ngày Giảm cân an toàn - Thải độc triệt để
                            </h5>
                            <p>
                                Giá gói: 2,380,000VND
                                Phí ship: 105,000VND/7 ngày
                                Hiện đang ưu đãi miễn phí 100% phí ship cho gói này và free upgrade 7 chai Cần Tây Nổi Tiếng
                                Tổng chi phí chỉ còn: 2,380,000 VND
                            </p>
                            <div class="actioncart">
                                <span class="removesp">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </span>
                                <div class="form-inline text-right">
                                    <a class="btn btn-default" id="btnTruSL">
                                        <i class="glyphicon glyphicon-minus"></i>
                                    </a>
                                    <input class="form-control" type="text" value="1" placeholder="0" id="txtSoLuongDH" readonly />
                                    <a class="btn btn-default" id="btnCongSL">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
                            <div class="cartprice">
                                3,409,000<sup>đ</sup>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-md-9 col-xs-9">
                            <h5 class="titlesp">
                                3. Gói 7 ngày Giảm cân an toàn - Thải độc triệt để
                            </h5>
                            <p>
                                Giá gói: 2,380,000VND
                                Phí ship: 105,000VND/7 ngày
                                Hiện đang ưu đãi miễn phí 100% phí ship cho gói này và free upgrade 7 chai Cần Tây Nổi Tiếng
                                Tổng chi phí chỉ còn: 2,380,000 VND
                            </p>
                            <div class="actioncart">
                                <span class="removesp">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </span>
                                <div class="form-inline text-right">
                                    <a class="btn btn-default" id="btnTruSL">
                                        <i class="glyphicon glyphicon-minus"></i>
                                    </a>
                                    <input class="form-control" type="text" value="1" placeholder="0" id="txtSoLuongDH" readonly />
                                    <a class="btn btn-default" id="btnCongSL">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
                            <div class="cartprice">
                                3,409,000<sup>đ</sup>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <div class="tongtiencartmini">
            <div class="row">
                <div class="col-md-6">
                    <p class="textsl">
                        Số Lượng
                    </p>
                    <p class="numbersl">
                        3
                    </p>
                    
                </div>
                <div class="col-md-6">
                    <p class="texttong">
                        Tổng tiền tạm tính
                    </p>
                    <p class="numbertong">
                        13,762,000<sup>đ</sup>
                    </p>
                    <p class="notecart">
                        ** chưa bao gồm phí ship (nếu có)
                    </p>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="btngogiohang">
                        <a href="javascript:" class="btn btn-lg btn-default">
                            <i class="glyphicon glyphicon-shopping-cart" id="caticon"></i>
                            Chi tiết giỏ hàng
                        </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="btndathangmini text-right">
                        <a href="javascript:" class="btn btn-lg btn-default">
                            Đặt Hàng
                            <i class="glyphicon glyphicon-menu-right" id="caticon"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>




