@model List<NhomXingfa.Areas.Quantri.Models.DataModels.Customer>
@using NhomXingfa.Areas.Quantri.Utilities
<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
        <div class="sliderthuonghieu">
            @foreach (var item in Model)
            {
                <div>
                    <img src="@WebConstants.imgLogoCustShow/@item.CustomerImage" alt="@item.CustomerName" title="@item.CustomerName" />
                </div>
            }
          
        </div>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
