

<div id="endpage">

    <div class="block">
        <div class="text-center fontstyle" id="titlespcon4" style="line-height:35px;">
            <h2 style="line-height:25px;">
                Thải độc, giảm cân <br /><br />Bổ sung dưỡng chất
            </h2>
        </div>
        <h4 style="line-height:30px; text-align:justify;">
            <span style="font-weight:bold; font-size:15pt">The VistaHouse</span> chú trọng đến việc chăm sóc sức khỏe và sắc đẹp bằng phương pháp duy trì thói quen ăn uống lành mạnh nhằm đem lại những hiệu quả cho sức khỏe và vóc dáng một cách an toàn và bền vững nhất. Đặt
            <span class="green-o-pages-homepage-desktop-boldw">gói định kỳ</span> để chăm sóc bản thân và nhận những ưu đãi hấp dẫn nhất.
        </h4>
        <div class="text-center">
            <input type="button" class="btn btn-lg btn-success" value="Tư Vấn Gói Định Kỳ" id="btnTuVanDinhKy2" />
            <p style="font-size:20px; font-weight:bold; padding-top:12px; color:#444;">
                Hotline 090909 60 60
            </p>
        </div>
    </div>
</div>
