

<div id="endpage">

    <div class="block">
        <div class="text-center fontstyle" id="titlespcon4" style="line-height:35px;">
            <h2 style="line-height:35px;">
                Liệu pháp tự nhiên <br /><br />cải thiện sức khỏe
            </h2>
        </div>
        <h4 style="line-height:30px; text-align:justify;">
            <span style="font-weight:bold; font-size:15pt">SmoothiePlus</span>
            sẽ là lựa chọn tối ưu nhất để cải thiện tỷ lệ dinh dưỡng từ thực vật trong khẩu phần ăn của bạn, nuôi dưỡng, chữa lành, bổ sung và tăng cường các chức năng của cơ thể một cách tự nhiên từ bên trong.

            Gọi ngay cho Nhà Vita để được tư vấn chế độ và liệu trình phù hợp với sức khỏe ngay bây giờ nhé!
        </h4>
        <div class="text-center">
            
            <input type="button" class="btn btn-lg btn-info datapopup" value="Tư vấn liệu trình" id="btnTuVanDinhKy" />
            <p style="font-size:20px; font-weight:bold; padding-top:12px; color:#444;">
                Hotline 0898 77 22 70
            </p>
        </div>
    </div>
</div>
