
<div class="row">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-10">
        <div class="row" id="topslogan">
            <div class="col-md-3">
                <div class="boxtox">
                    <div class="ptitle boxtox1">
                        Rau sạch đạt chuẩn <br />
                        VietGAP
                    </div>

                    <ul>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            100% nguyên liệu sạch đạt chuẩn VietGAP
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Lựa chọn sử dụng các loại rau, củ quả tốt nhất cho sức khoẻ như: Cần tây, bó xôi, táo, lê…
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-3">
                <div class="boxtox">
                    <div class="ptitle boxtox2">
                        100% <br />
                        Nguyên chất
                    </div>

                    <ul>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không thêm đường
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không thêm nước
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không chất bảo quản
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không thêm bất cứ hương liệu hay chất điều vị nhân tạo nào
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-3">
                <div class="boxtox">
                    <div class="ptitle boxtox3">
                        Giá trị <br />
                        Dinh Dưỡng Cao
                    </div>

                    <ul>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Cung cấp đầy đủ các vitamins, khoáng chất từ rau, củ, quả
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Hỗ trợ giảm cân tự nhiên an toàn, hiệu quả, thải độc triệt để
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Dùng thường xuyên để duy trì thói quen ăn uống lành mạnh ngăn ngừa các bệnh như: ung thư, tiểu đường, máu mỡ, cao huyết áp, tim mạch…
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxtox">
                    <div class="ptitle boxtox4">
                        Giao hàng <br />
                        Tận Nơi
                    </div>

                    <ul>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Thực phẩm tươi được chế biến mỗi ngày
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Giao hàng tận nơi
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Ưu đãi phí ship khi sử dụng gói định kỳ
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>
