
<div class="row" id="loadslogan">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-10">
        <div class="row" id="topslogan">
            <div class="col-md-3">
                <div class="boxtox">
                    <div class="ptitle boxtox1">
                        Nguyên liệu sạch chuẩn <br />
                        VietGap
                    </div>

                    <ul>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            100% nguyên liệu sạch đạt chuẩn VietGap và Organic
                        </li>
                        @*<li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Nguyên liệu được chọn lọc từ chuyên gia dinh dưỡng tốt nghiệp tại NJT US (Natural Juice Therapist – USA)
                        </li>*@
                    </ul>

                </div>
            </div>
            <div class="col-md-3">
                <div class="boxtox">
                    <div class="ptitle boxtox2">
                        Nguyên chất <br />và An toàn
                    </div>

                    <ul>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không thêm đường 
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không bơ sữa động vật 
                        </li>
                        @*<li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không Gluten (Gluten-free)
                        </li>*@
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không thêm nước
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không chất bảo quản
                        </li>
                        @*<li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không chất bảo quản
                        </li>*@
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Không hương liệu hay chất điều vị nhân tạo nào
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-3">
                <div class="boxtox">
                    <div class="ptitle boxtox3">
                        Giá trị <br />
                        Dinh Dưỡng Cao
                    </div>

                    <ul>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Cung cấp đầy đủ các vitamins, khoáng chất từ rau, củ, quả sạch
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Sử dụng thường xuyên với bữa ăn hoặc thay thế bữa ăn
                        </li>
                        @*<li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Hỗ trợ cải thiện và tang cường sức khỏe của bạn từ bên trọng với các liệu trình dinh dưỡng đặc biệt như: giảm cân an toàn, da sáng dáng xinh, đào thải độc tố, đặc biệt hỗ trợ người bệnh tim mạch, cao huyết áp, mỡ máu cao,…
                        </li>*@
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxtox">
                    <div class="ptitle boxtox4">
                        Thân thiện
                        <br />
                        với môi trường
                    </div>

                    <ul>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Chai thủy tinh và bao bì thân thiện
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            SmoothiePlus tươi mới được làm ra mỗi ngày trước khi giao
                        </li>

                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Phục vụ tận tâm
                        </li>
                        <li>
                            <span class="bulletimg">
                                <img src="~/images/bullet_blue.png" />
                            </span>
                            Giao hàng tận tay
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>
