@model List<NhomXingfa.Areas.Quantri.Models.DataModels.Cart>
@{
    ViewBag.Title = "Quản Lý Đơn Hàng";
}


@foreach(var q in Model)
{

}

<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quản Lý Đơn Hàng</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>