@model NhomXingfa.Areas.Quantri.Models.DataModels.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}
<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Danh sách Chủng loại</li>

    </ol>

    <h1>Xóa Sản phẩm</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="/Quantri/Categories/Index" class="btn btn-primary">Quay Lại</a>
        </div>
    </div>
</div>

<div class="container" style="padding:5px">
    <div class="alert alert-dismissable alert-danger">
        Danh mục <strong>@Model.CategoryName</strong> Bạn có chắc chắn xóa sản phẩm này không? Chú ý rằng những sản phẩm liên quan cũng sẽ bị xóa theo!
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
        </div>
    }
</div>
