@*@model IEnumerable<NoiThatAdmin.Models.DataModels.Category>*@

@{
    ViewBag.Title = "Chủng loại sản phẩm";
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Danh sách chủng loại Sản phẩm</li>

    </ol>

    <h1>Loại Sản phẩm</h1>
    <div class="options">
        <div class="btn-toolbar">

            <a href="/Quantri/Categories/Create" class="btn btn-success btn-label"><i class="fa fa-plus"></i>Thêm mới</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-1">
                Hiện thị<br />
                <select name="sample_2_length" aria-controls="sample_2" class="form-control input-xsmall input-inline select2-offscreen" tabindex="-1" title="" id="ddlPageSize">
                    <option value="5">5 dòng</option>
                    <option value="10">10 dòng</option>
                    <option value="15" selected>15 dòng</option>
                    <option value="20">20 dòng</option>
                    <option value="-1">Tất cả</option>
                </select>
            </div>
            <div class="col-xs-2">
                Tên chủng loại<br />
                <input type="text" id="txtTenChungLoai" name="txtTenChungLoai" class="form-control txtSearch" placeholder="Nhập tên...">
            </div>
            <div class="col-xs-2">
                Danh Mục Cha<br />

                <select class="form-control drChange" id="ParentId" name="ParentId">
                    <option value="">Tất cả</option>
                    <option value="0">Menu Cha</option>
                    @foreach (var i in (List<NhomXingfa.Areas.Quantri.Models.DataModels.Category>)ViewData["ListCate"])
                    {
                        <option value="@i.CategoryID">@i.CategoryName</option>
                    }

                </select>
            </div>
            <div class="col-xs-2">
                Loại<br />

                    <select class="form-control drChange" id="IsLe" name="IsLe">
                        <option value="">Tất cả</option>
                        <option value="true">Sản phẩm Lẻ</option>
                        <option value="false">Sản phẩm gói</option>
                    </select>
            </div>

            <div class="col-xs-4">
                Tìm theo từ khóa
                <br />
                <input type="text" id="SEOKeywords" class="form-control txtSearch" placeholder="nhập từ khóa">
            </div>

        </div>
    </div>
    <div class="panel panel-primary">
        @{ Html.RenderPartial("_Alerts"); }
        <div class="panel-body" style="padding:0px;">

            <div class="row" id="season-list">

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

    $(document).ready(function () {
         $.ajaxSetup({
                cache: false
         });

        filter();

        $('body').on('change', '#ddlPageSize', function () {
            filter();
        });

        //textbox name
        $('.txtSearch').on('input', function () {
            filter();
        });

        //Drop change Dept
            $('.drChange').change(function () {
                filter();
            });

    });

    function filter() {

        var TenChungLoai = $("#txtTenChungLoai").val();
        var DanhMucCha = $("#ParentId").val();
        var IsLe = $("#IsLe").val();
        var SEOKeywords = $("#SEOKeywords").val();
        $.ajax({
            //url: '~/Areas/Quantri/Views/Categories/_PartialIndex.cshtml',
            url: '@Url.Action("_PartialIndex", "Categories", new { Area = "Quantri" })',
            data: {
                pageSize: parseInt($('#ddlPageSize').val()),
                TenChungLoai: TenChungLoai,
                DanhMucCha: DanhMucCha,
                IsLe: IsLe,
                SEOKeywords:SEOKeywords
            },
            method: 'GET',
            dataType: 'html',
            success: function (data) {
                $('#season-list').html(data);
                $("#lbl_Message").html("");
            }
        });

    }
    </script>
}
